<div class="container">
  <div class="row login-field">
    <div class="col col-lg-9 mx-auto">
      <app-alert [message]="error"
                 (close)="onHandleError()"
                 *ngIf="error"></app-alert>
      <form class="justify-content-center"
            (ngSubmit)="onSubmit()"
            [formGroup]="loginForm">
        <div class="form-group ">
          <label for="email">E-Mail</label>
          <input type="email"
                 id="email"
                 class="form-control"
                 name="email"
                 #email
                 formControlName="email">
          <span class="form-text"
                *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">the email is not provided</span>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 formControlName="password" />
          <span class="form-text"
                *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">the password is not provided</span>
        </div>

        <div class="form-details">
          <button class="btn btn-custom"
                  type="submit"
                  [disabled]="!loginForm.valid">
            Log In
          </button>
          <!-- <div class="remember">
            <label for="remember">Remember me?</label>
            <input type="checkbox"
                   name="remember"
                   id="remember"
                   aria-label="Checkbox for following text input">

          </div> -->
        </div>
      </form>
    </div>
  </div>
</div>
