.post-field {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 50px;
  margin-left: -10px;
}

.post-item-field {
  max-height: 500px;
}
textarea {
  width: 100%;
  height: 250px;
}

.btn-custom {
  background: rgb(126, 240, 254);
  background: radial-gradient(
    circle,
    rgba(126, 240, 254, 1) 0%,
    rgba(217, 158, 255, 0.3309698879551821) 100%
  );
}
.inputContainer {
  position: relative;
}
.input-title {
  width: 100%;
  background: url(../../../../assets/images/84380.png) no-repeat;
  background-size: 25px;

  background-position: 98%;
}
.input-message {
  width: 100%;
  background: url(../../../../assets/images/84380.png) no-repeat;
  background-size: 25px;
  padding-right: 30px;
  background-position-x: 98%;
  background-position-y: 8%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}
input {
  border: none;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
::placeholder {
  color: black;
}
.err {
  color: lightpink;
}
.show {
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.edit-title {
  border: 2px solid black;
}
