<a style="cursor: pointer; overflow: scroll;
margin-bottom: 50px; margin-left:-10px;"
   class="list-group-item clearfix">
  <div style="height: 300px;">
    <h4 class="list-group-item-heading">{{ post.title }}</h4>
    <div>
      <textarea disabled
                cols="54"
                rows="4">{{ post.message }}</textarea>
      <app-comment-add *ngIf="canComment"
                       [id]="post.id"
                       [user_id]="post.user_id"></app-comment-add>
      <app-comment-list></app-comment-list>
    </div>

  </div>
</a>
