.post-field {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 50px;
  margin-left: -10px;
}
.post-item-field {
  height: 500px;
}
textarea {
  width: 100%;
}

.btn-custom {
  background: rgb(126, 240, 254);
  background: radial-gradient(
    circle,
    rgba(126, 240, 254, 1) 0%,
    rgba(217, 158, 255, 0.3309698879551821) 100%
  );
}
.buttons {
  display: flex;
  justify-content: space-between;
}
