.comment-list-field {
  margin-top: 20px;
}
.btn-custom {
  background: rgb(126, 240, 254);
  background: radial-gradient(
    circle,
    rgba(126, 240, 254, 1) 0%,
    rgba(217, 158, 255, 0.3309698879551821) 100%
  );
  color: darkblue;
  margin-bottom: 20px;
}
p {
  color: pink;
}
